@font-face {
  font-family: SFPro;
  src: url(assets/Fonts/SF-Pro.ttf) format("truetype");
}
@font-face {
  font-family: SFProText-med;
  src: url(assets/Fonts/SF-Pro-Text-Medium.otf) format("opentype");
}
@font-face {
  font-family: SFProText-bold;
  src: url(assets/Fonts/SF-Pro-Text-Bold.otf) format("opentype");
}

body {
  padding: 0;
  margin: 0;
  font-family: SFPROtext-med;
}

/* .main {
  background-image: url(assets/wallpaper.jpg);
  width: 100dvw;
  background-repeat: no-repeat;
  /* background-size: contain; *
  background-position: center;
} */

.wallpaper {
  position: absolute;
  z-index: -3;
  width: 100dvw;
  height: 100dvh;
}

.navbar {
  height: 23px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > .content {
  height: 16px;
  width: calc(100dvw - 16px);
  outline: 1px solid red;
}

.content > .leftMenu,
.content > .rightMenu {
  height: 16px;
  display: flex;
  gap: 4px;
}

.leftMenu > .apple {
  padding: 0 4px;
}

.bold {
  font-family: sfprotext-bold;
}

.text {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

.dock {
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px;
  margin-bottom: 10px;
  border-radius: 0.7rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.app,
.app-10 {
  height: 42px;
  width: 42px;
  background-size: cover;
  border-radius: 0.5rem;
  transition: 200ms;
}

.app:nth-child(1) {
  background-image: url(assets/appIcons/icons/png-icons/chrome.png);
}
.app:nth-child(2) {
  background-image: url(assets/appIcons/icons/png-icons/imessage.png);
}
.app:nth-child(3) {
  background-image: url(assets/appIcons/icons/png-icons/vscode.png);
}
.app:nth-child(4) {
  background-image: url(assets/appIcons/icons/png-icons/terminal.png);
}
.app:nth-child(5) {
  background-image: url(assets/appIcons/icons/png-icons/safari.png);
}
.app:nth-child(6) {
  background-image: url(assets/appIcons/icons/png-icons/netflix.png);
}
.app:nth-child(7) {
  background-image: url(assets/appIcons/icons/png-icons/photos.png);
}
.app:nth-child(8) {
  background-image: url(assets/appIcons/icons/png-icons/firefox.png);
}
.app:nth-child(9) {
  background-image: url(assets/appIcons/icons/png-icons/spotify.png);
}
.app-10 {
  background-image: url(assets/appIcons/icons/png-icons/maps.png);
}

.separator {
  height: 36px;
  width: 0.5px;
  /* justify-items: center; */
  background-color: rgba(51, 50, 50, 0.644);
  margin: 0 5px 0;
}

.app:hover,
.app-10:hover {
  /* scale: 1.5; */
  height: 60px;
  width: 60px;
}
